{% extends 'base.html.twig' %}

{% block title %}
    MarcketPlace - Acceuil
{% endblock %}

{% block body %}
<div class="container mt-4">
    {% for message in app.flashes('success') %}
      <div class="alert alert-dismissible alert-success">
            {{ message }}
      </div>
    {% endfor %}
    <div class="jumbotron">
        <h1 class="display-4">Bienvenue a MarketPlace</h1>
        <p class="lead">MarketPlace est un sit de vente en ligne pour acheter des cartes TCG</p>
        <hr class="my-4">
        <p>Avant toute chose vous devez vous inscrire pour utiliser l'application</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
    </div>
</div>
{% endblock %}